/* 
 * Nanum Barun Gothic (Korean) http://hangeul.naver.com
 */
/*
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('webfont/NanumBarunGothic.eot');
    src: url('webfont/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
         url('webfont/NanumBarunGothic.woff') format('woff'),
         url('webfont/NanumBarunGothic.ttf') format('truetype'),
    font-weight: normal;
    font-style: 400;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('webfont/NanumBarunGothicBold.eot');
    src: url('webfont/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
         url('webfont/NanumBarunGothicBold.woff') format('woff'),
         url('webfont/NanumBarunGothicBold.ttf') format('truetype'),
    font-weight: normal;
    font-style: 700;
}
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


body{
	margin: 0px;
	font-family : Arial, 'Nanum Gothic', sans-serif;
	font-size: 11.5pt;
	line-height: 1.6em;
	color: rgb(88,88,88);
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

ul { list-style: none; padding: 0px; margin:.1em;}

li { font-size: 10pt; }

h1 { margin:0px; font-size: 15pt; }

h2 { margin:0px; font-size: 14pt; }

h3 { margin: 0px; font-size: 11pt; }

a {
	text-decoration:underline;
	color: rgb(88,88,88);
}

a.front:hover {opacity:.7;}

a, img {
    border:none;
    outline:none
}

a.opacity:hover {opacity: .7;}

#top_bar {
}

#top_bar .gray {
	position: fixed;
	display: block;
	width: 50%;
	height: 20px;
	left: 0%;
	background: #585858;
}

#top_bar .orange {
	position: fixed;
	display: block;
	width: 50%;
	height: 20px;
	right: 0%;
	background: #ff5000;
}

#top_bar .orange img{
	position: absolute;
	margin-left: -475px;

}

#header{
	padding: 70px 0px 50px 0px;
}

.click-away {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

/*===============================nav===============================*/

#nav {
	width: 250px;
	float: left;
	clear: left;
	line-height:1.45em;
}

#nav .one, #nav .two, #nav .three {
	margin-bottom: 2em;
}

#nav h2{
	font-size: 11pt;
	color: rgb(255,80,0);
	margin-bottom:0.5em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#nav h3 {
	font-size: 10pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}

#nav a {
	color: rgb(88,88,88);
	text-decoration: none;
}

#nav a:hover {
	color: #000;
}

.hidden {
	display:none;
}

#nav ul {
	margin-bottom:1em;
}

#nav ul li{
	margin-left:0.5em;
}


/*===============================content/intro===============================*/

#content {
	width: 700px;
	float: right;
	clear: right;
}

#content .intro_video {
	display: block;
}

#content .top {
	margin-bottom: 22px;
}

#content .bottom {
	margin-top: 22px;
	margin-bottom: 22px;
}

#content .bottom h3{
	color: rgb(255,80,0)
}

#content #logo img{
	margin-top: 26px;
	margin-right: 18px;
	margin-left: 18px
}

#content #logo .holdings {
	display: block;
	width: 700px;
	/*height: 140px;*/
	border-top: 1px dotted rgb(200,200,200);
	border-bottom: 1px dotted rgb(200,200,200);
	padding-left: 0px;
	padding-bottom:30px;
}

#content #logo .entertainment {
	display: block;
	height: 140px;
	width: 700px;
	border-top: 1px dotted rgb(200,200,200);
	padding-left: 0px;
}

#content #logo .worldwide {
	display: block;
	height: 140px;
	width: 700px;
	border-top: 1px dotted rgb(200,200,200);
	padding-left: 0px;
}

#content #logo .investment_group {
	display: block;
	width: 700px;
	height: 140px;
	border-top: 1px dotted rgb(200,200,200);
	border-bottom: 1px dotted rgb(200,200,200);
	padding-left: 0px;
}

/*===============================content/logo_usage===============================*/

#content .title {
	display: block;
	width: 700px;
	padding-bottom: 19px;
	border-bottom: 1px solid rgb(200,200,200);
}

#content .first_body {
	margin-top: 29px;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .first_body p{
	margin-bottom: 28px;
}

#content .first_body img {
	margin-bottom: 60px;
}

#content .second_body {
	margin-top: 29px;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .second_body p{
	margin-bottom: 28px;
}

#content .second_body img {
	margin-bottom: 60px;
}

#content .third_body {
	margin-top: 29px;
}

#content .third_body p{
	margin-bottom: 28px;
}

#content .third_body img {
	margin-bottom: 60px;
}

/*===============================content/color_usage===============================*/

.colors {
	width:690px;
	margin-bottom:40px;
}

#content .second_body .colors p {
	margin-bottom:1em;
}

.box1, .box2, .box3 {
	background-color: #ff5000;
	width:210px;
	height: 100px;
	float:left;
	margin-right: 20px;
	line-height: 100px;
	text-align: center;
	font-size: 14pt;
	color: white;
}

.box3 {
	margin-right:none;
}

.teal_boxes div { background-color: #1cebc7;}
.blue_boxes div { background-color: #73dcff;}
.purple_boxes div { background-color: #9531a4;}
.gray_boxes div { background-color: #bdbdbd;}
.yellow_boxes div { background-color: #FFD241;}



/*===============================content/typography===============================*/

#content .typography_info {
	width:700px;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .typography_info p{
	margin: 30px 0;
}

#content .typography_first_body {
	margin-top: 29px;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .typography_first_body p{
	margin-bottom: 0px;
}

#content .typography_first_body img{
	margin-top: 40px;
}

#content .typography_first_body .purchase .purchase_button{
	font-size: 10.5pt;
	margin-top: 40px;
	float: left;
	width: 101px;
	height: 25px;
	background-color: #7f7f7f;
	line-height:25px;
	color: white;
	text-align: center;
	border-radius: 3px;
}

#content .typography_first_body .purchase p{
	float:left;
	margin:0px;
	margin-top: 40px;
	margin-left: 17px;
}

#content .typography_first_body .yellow_box {
	width: 660px;
	height: 90px;
	padding: 20px;
	background-color: #fff899;
	margin-bottom: 60px;
	margin-top: 105px;
}

#content .typography_first_body .yellow_box p{
	margin: 0px;
}

#content .typography_second_body {
	margin-top: 29px;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .typography_second_body p{
	margin-bottom: 0px;
}

#content .typography_second_body img{
	margin-top: 40px;
}

#content .typography_second_body .purchase .purchase_button{
	font-size: 10.5pt;
	margin-top: 40px;
	float: left;
	width: 101px;
	height: 25px;
	background-color: #7f7f7f;
	line-height:25px;
	color: white;
	text-align: center;
	border-radius: 3px;
}

#content .typography_second_body .purchase p{
	float:left;
	margin:0px;
	margin-top: 40px;
	margin-left: 17px;
}

#content .typography_second_body .yellow_box {
	width: 660px;
	height: 90px;
	padding: 20px;
	background-color: #fff899;
	margin-bottom: 60px;
	margin-top: 105px;
}

#content .typography_second_body .yellow_box p{
	margin: 0px;
}

#content .typography_third_body{
	margin-top: 29px;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .typography_third_body p{
	margin-bottom: 0px;
}

#content .typography_third_body img{
	margin-top: 40px;
	margin-bottom: 60px;
}

#content .typography_fourth_body{
	margin-top: 29px;
}

#content .typography_fourth_body p{
	margin-bottom: 0px;
}

#content .typography_fourth_body img{
	margin-top: 40px;
	margin-bottom: 180px;
}

/*===============================lockups===============================*/

#content .lockups_info {
	width:700px;
/*	height: 119px;*/
	padding-bottom:20px;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .lockups_info p{
	margin: 0px;
	margin-top: 20px;
}

#content .lockups_info {
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .yellow_box {
	width: 660px;
	padding:15px 20px;
	background-color: #fff899;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#content .lockups_info .yellow_box p {
	margin: 0px;
	margin-top:-4px;
}

#content .lockups_wrapper {
	border-bottom: 1px dotted rgb(200,200,200);
	padding-bottom: 20px;
	padding-top: 40px;
}

#content .lockups_wrapper h2{
	color: #ff5000;
}


#content .lockups_wrapper h3{
	margin-bottom: 20px;
	margin-top: 40px;
	color: #ff5000;
}

#content .lockups_wrapper p{
}

#content .lockups_wrapper .lockups {
	margin-bottom: 40px;
	float: left;
	margin-right: 20px;
}

#content .lockups_wrapper .download{
	margin-top: 10px;
}

#content .lockups_wrapper .download p{
	float: left;
	margin: 0px;
	display: block;
}

#content .lockups_wrapper .download .download_button{
	font-size:10pt;
	float: right;
	width: 79px;
	height: 25px;
	border-radius: 3px;
	background-color: #cccccc;
	color:white;
	padding-left: 7px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#content .lockups_wrapper .download .download_button p{
	padding-top: 1px;
}


#content .lockups_wrapper .download .download_button:hover {
	background-color: #666666;
}

#content .lockups_wrapper .download img {
}

#content .lockups_wrapper .last {
	margin-right: 0px;
}

#content .last {
	border-bottom: 0px;
}


/*===============================animation===============================*/

#content .animation_info {
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .animation_info p {
	margin-top: 30px;
	margin-bottom: 0px;
}

#content .animation_info .yellow_box {
	width: 660px;
	height:13px;
	padding:20px;
	background-color: #fff899;
	margin-top: 30px;
	margin-bottom: 30px;
}

#content .animation_info .yellow_box p {
	margin: 0px;
	margin-top:-4px;
}

#content .animation_wrapper h2{
	margin-bottom: 30px;
	color: #585858;
	padding:0px;
	margin-top: -10px;
}

#content .last {
	border-bottom: 0px;
}









#content .lockups .dropdown2 {
	position: absolute;
	float: right;
	width: 327px;
	border: 1px solid rgb(200,200,200);
	border-radius: 3px;
	margin-top: 11px;
	margin-left: -249px;
	display: none;
	z-index: 999;
	box-shadow: 0px 0px 10px #ababab;
}

#content .lockups .dropdown2 .left {
	float: left;
	display: block;
	margin:0px;
	width: 90px;
	background-color: white;
}

#content .lockups .dropdown2 .file {
	float: left;
	display: block;
	margin:0px;
	width: 147px;
	background-color: white;
}

#content .lockups .dropdown2 .right {
	background-color: #585858;
	float: right;
	display: block;
	margin:0px;
	width: 90px;
}

.dropdown2 .left a li:hover {opacity:.6;}
.dropdown2 .right a li:hover {opacity:.6;}

#content .lockups .dropdown2 .left p {
	float: left;
}

#content .lockups .dropdown2 .file p {
	float: left;
}

#content .lockups .dropdown2 .right p {
	float: left;
}



#content .lockups .dropdown2 .left li {
	height: 27px;
	width: 90px;
	display: block;
	color: #585858;
	border-bottom: 1px dotted rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200);
}

#content .lockups .dropdown2 .file li {
	height: 27px;
	width: 147px;
	display: block;
	color: #585858;
	border-bottom: 1px dotted rgb(200,200,200);
	padding-left: 8px;
}

#content .lockups .dropdown2 .left img {
	float: left;
}

#content .lockups .dropdown2 .right li {
	height: 27px;
	width: 90px;
	display: block;
	color: white;
	border-bottom: 1px dotted white;
}

#content .lockups .dropdown2 .right img {
	float: left;
}

#content .lockups .dropdown2 .title {
	padding-left: 8px;
	padding-bottom: 0px;
}

#content .lockups .dropdown2 ul .last {
	border-bottom: none;
}


.download_buttonx{
	font-size: 10pt;
	width: 110px;
	height: 25px;
	border-radius: 3px;
	background-color: #cccccc;
	color:white;
	padding-left: 7px;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom:30px;
}

.download_buttonx:hover {opacity:.7;}

.download_buttonx p{
	float:left;
	margin-top:0;
}

h2.apps {margin:1.5em 0 1em 0;}

a.noborder {text-decoration: none;}

.envelope_wrapper {padding-bottom:60px; margin-bottom:60px; border-bottom: 1px dotted rgb(200,200,200);}

/*================================world_wide===============================*/

#content .europe {
	border-bottom: 0px;
}

#content .lockups .dropdown {
	position: absolute;
	float: right;
	width: 180px;
	border: 1px solid rgb(200,200,200);
	border-radius: 3px;
	margin-top: 11px;
	margin-left: -102px;
	display: none;
	z-index: 999;
	box-shadow: 0px 0px 10px #ababab;
}

#content .lockups .dropdown .left {
	float: left;
	display: block;
	margin:0px;
	width: 90px;
	background-color: white;
}

.dropdown .left a li:hover {opacity:.6;}
.dropdown .right a li:hover {opacity:.6;}

#content .lockups .dropdown .right {
	background-color: #585858;
	float: right;
	display: block;
	margin:0px;
	width: 90px;
}

#content .lockups .dropdown .left p {
	float: left;
}

#content .lockups .dropdown .right p {
	float: left;
}



#content .lockups .dropdown .left li {
	height: 27px;
	width: 90px;
	display: block;
	color: #585858;
	border-bottom: 1px dotted rgb(200,200,200);
}

#content .lockups .dropdown .left img {
	float: left;
}

#content .lockups .dropdown .right li {
	height: 27px;
	width: 90px;
	display: block;
	color: white;
	border-bottom: 1px dotted white;
}

#content .lockups .dropdown .right img {
	float: left;
}

#content .lockups .dropdown .title {
	padding-left: 8px;
	padding-bottom: 0px;
}

#content .lockups .dropdown ul .last {
	border-bottom: none;
}

/*================================entertainment===============================*/

#content .rpg {
	border-bottom: 0px;
}

/*================================holdings===============================*/

#content .holdings {
	border-bottom: 0px;
}



/*===============================footer===============================*/

#footer{
	clear: both;
	font-size: 10pt;
	line-height: 1.4em;
	margin-top: 100px;
}

#footer .copyright {
	float: left;
	width: 250px;
}

#footer .contact {
	float: right;
	width: 700px;
}

.contact-person {
	color:#8E8E8E;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


/*===============================added===============================*/
.dl-btn {
	font-size: 10pt;
	display:inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border-radius: 3px;
	background-color: #cccccc;
	margin:15px 10px 30px 0;
	color:white;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}
a.dl-btn:hover {
	opacity:.7;
	background-color: #000;
}
.colorspace {
	color:#8E8E8E;
	margin-right:20px;
}
.dlmodule {
	display:inline-block;
	margin-right:70px;
}
#content .animation_wrapper h2.orange {
	color: #ff5000;
}