<div class="contact">
  <p>© Smilegate.</b> All Rights Reserved.</p>
	<p class="contact-person">
		<b>스마일게이트 홀딩스</b> 브랜드전략실 브랜드마케팅팀<br>
	</p>
  <p class="contact-person">
    담당자:<br>
    이의형 과장 Tel. 031.600.8378 <u>euihlee@smilegate.com</u><br>
    오인선 과장 Tel. 031.600.8217 <u>isuno@smilegate.com</u><br>
    이루리 대리 Tel. 031.600.8377 <u>rrlee@smilegate.com</u>
    </p>
</div>