<div class="one">
	<h2> 1. 아이덴티티 </h2>
	<h3 href="primary.html">1–1. 그룹 대표 VI</h3>
	<h3 href="lockups.html">1–2. 법인 별 VI</h3>
	<ul id="ul-lockups" class="hidden">
		<li>–&nbsp; <a href="lockups.html#holdings">Smilegate Holdings</a></li>
		<li>–&nbsp; <a href="lockups.html#entertainment">Smilegate Entertainment</a></li>
		<li>–&nbsp; <a href="lockups.html#rpg">Smilegate RPG</a></li>
		<li>–&nbsp; <a href="lockups.html#megaport">Smilegate Megaport</a></li>
		<li>–&nbsp; <a href="lockups.html#stove">Smilegate Stove</a></li>
		<li>–&nbsp; <a href="lockups.html#mobile">Smilegate Mobile</a></li>
		<li>–&nbsp; <a href="lockups.html#megalab">Smilegate MegaLab</a></li>
		<li>–&nbsp; <a href="lockups.html#foundation">Smilegate Foundation</a></li>
		<li>–&nbsp; <a href="lockups.html#investment">Smilegate Investment</a></li>
		<li>–&nbsp; <a href="lockups.html#worldwide">Smilegate Worldwide</a></li>
		<li>–&nbsp; <a href="lockups.html#west">Smilegate West</a></li>
		<li>–&nbsp; <a href="lockups.html#sea">Smilegate SEA</a></li>
	</ul>
	<h3 href="animation.html">1–3. Station ID</h3>
	<ul id="ul-animation" class="hidden">
		<li>–&nbsp; <a href="animation.html#primary">그룹 대표 Station ID</a></li>
		<li>–&nbsp; <a href="animation.html#companies">법인별 Station ID</a></li>
	</ul>
	<h3 href="logo-usage.html">1–4. 로고의 사용</h3>
	<ul id="ul-logo" class="hidden">
		<li>–&nbsp; <a href="logo-usage.html#min-space">최소공간</a></li>
		<li>–&nbsp; <a href="logo-usage.html#min-size">최소크기</a></li>
		<li>–&nbsp; <a href="logo-usage.html#donts">금지규정</a></li>
	</ul>

	<h3 href="color-usage.html">1–5. 색상의 사용</h3>
	<ul id="ul-color" class="hidden">
		<li>–&nbsp; <a href="color-usage.html#primary">기본색상</a></li>
		<li>–&nbsp; <a href="color-usage.html#accents">강조색상</a></li>
		<li>–&nbsp; <a href="color-usage.html#backgrounds">로고조합 및 배경색</a></li>
	</ul>

	<h3 href="typography.html">1–6. 타이포그래피</h3>
	<ul id="ul-typography" class="hidden">
		<li>–&nbsp; <a href="typography.html#english">영문 지정서체</a></li>
		<li>–&nbsp; <a href="typography.html#korean">한글 지정서체</a></li>
		<li>–&nbsp; <a href="typography.html#donts">금지규정</a></li>
		<li>–&nbsp; <a href="typography.html#exceptions">예외조항</a></li>
	</ul>

</div>
<div class="two">
	<h2>2. 마스코트</h2>
	<h3 href="mascot-intro.html">2–1. 마스코트 소개</h3>
	<h3 href="mascot-illustrations.html">2–2. 2D/3D 일러스트레이션</h3>
	<ul id="ul-mascotillustrations" class="hidden">
		<li>–&nbsp; <a href="mascot-illustrations.html#2d">2D 일러스트레이션</a></li>
		<li>–&nbsp; <a href="mascot-illustrations.html#3d">3D 모델</a></li>
	</ul>
	<h3 href="mascot-usage.html">2–3. 마스코트의 사용</h3>
	<ul id="ul-mascotusage" class="hidden">
		<li>–&nbsp; <a href="mascot-usage.html#expressions">기본표정</a></li>
		<li>–&nbsp; <a href="mascot-usage.html#ratio">구성요소의 비율</a></li>
		<li>–&nbsp; <a href="mascot-usage.html#min-size">최소크기</a></li>
		<li>–&nbsp; <a href="mascot-usage.html#donts">금지규정</a></li>
	</ul>
</div>
<div class="three">
	<h2>3. 어플리케이션 템플릿</h2>
	<ul>
		<h3 href="applications-business-cards.html">3–1. 명함</h3>
		<h3 href="applications-envelopes.html">3–2. 대/소봉투</h3>
		<h3 href="applications-id-cards.html">3–3. ID카드</h3>
		<h3 href="applications-documents.html">3–4. 문서 서식</h3>
		<h3 href="applications-banners.html">3–5. 배너</h3>
		<h3 href="applications-patterns.html">3–6. 그외 다양한 패턴</h3>
	</ul>
</div>